ipaddress==1.0.18
ipykernel==4.6.1
ipython==5.3.0
ipython-genutils==0.2.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
jupyterthemes==0.17.3
numpy==1.13.1
openpyxl==2.4.8
packaging==16.8
pandas==0.20.3
XlsxWriter==0.9.8